In [7]:
#Q1
shipment_d={'Shipment Id':[101,102,103,104,105,106],'Sender':[1,4,2,1,3,5],'Receiver':[3,1,3,5,4,2],
     'Start_Date':['14-03-2020','18-06-2020','01-12-2020','23-06-2020','29-08-2020','28-06-2020'],
     'Delivery_Date':['25-03-2020','09-07-2020','NULL','25-06-2020','10-09-2020','NULL'],
     'Sender_Location':['Area1','Area2','Area5','Area1','Area5','Area3'],
     'Receiver_Location':['Area6','Area4','Area1','Area4','Area3','Area1'],
     'Delivery Status':['Delivered','Delivered','In-Transit','Delivered','Delivered','In-Transit'],
     'Shipping Cost':[198,275,200,314,275,270]}
print(shipment_d)

{'Shipment Id': [101, 102, 103, 104, 105, 106], 'Sender': [1, 4, 2, 1, 3, 5], 'Receiver': [3, 1, 3, 5, 4, 2], 'Start_Date': ['14-03-2020', '18-06-2020', '01-12-2020', '23-06-2020', '29-08-2020', '28-06-2020'], 'Delivery_Date': ['25-03-2020', '09-07-2020', 'NULL', '25-06-2020', '10-09-2020', 'NULL'], 'Sender_Location': ['Area1', 'Area2', 'Area5', 'Area1', 'Area5', 'Area3'], 'Receiver_Location': ['Area6', 'Area4', 'Area1', 'Area4', 'Area3', 'Area1'], 'Delivery Status': ['Delivered', 'Delivered', 'In-Transit', 'Delivered', 'Delivered', 'In-Transit'], 'Shipping Cost': [198, 275, 200, 314, 275, 270]}

In [8]:
import pandas as pd
df1=pd.DataFrame(shipment_d)
print(df1)

   Shipment Id  Sender  Receiver  Start_Date Delivery_Date Sender_Location  \
0          101       1         3  14-03-2020    25-03-2020           Area1
1          102       4         1  18-06-2020    09-07-2020           Area2
2          103       2         3  01-12-2020          NULL           Area5
3          104       1         5  23-06-2020    25-06-2020           Area1
4          105       3         4  29-08-2020    10-09-2020           Area5
5          106       5         2  28-06-2020          NULL           Area3

  Receiver_Location Delivery Status  Shipping Cost
0             Area6       Delivered            198
1             Area4       Delivered            275
2             Area1      In-Transit            200
3             Area4       Delivered            314
4             Area3       Delivered            275
5             Area1      In-Transit            270

In [9]:
#Q2
client_d={'Client_Id':[1,2,3,4,5],'Client Name':['Philip','Omega111','Ramya','Romesh','John']}
client_d

{'Client_Id': [1, 2, 3, 4, 5],
 'Client Name': ['Philip', 'Omega111', 'Ramya', 'Romesh', 'John']}

In [11]:
df2=pd.DataFrame(client_d)
df2

   Client_Id Client Name
0          1      Philip
1          2    Omega111
2          3       Ramya
3          4      Romesh
4          5        John

In [17]:
shipment_d.values()

dict_values([[101, 102, 103, 104, 105, 106], [1, 4, 2, 1, 3, 5], [3, 1, 3, 5, 4, 2], ['14-03-2020', '18-06-2020', '01-12-2020', '23-06-2020', '29-08-2020', '28-06-2020'], ['25-03-2020', '09-07-2020', 'NULL', '25-06-2020', '10-09-2020', 'NULL'], ['Area1', 'Area2', 'Area5', 'Area1', 'Area5', 'Area3'], ['Area6', 'Area4', 'Area1', 'Area4', 'Area3', 'Area1'], ['Delivered', 'Delivered', 'In-Transit', 'Delivered', 'Delivered', 'In-Transit'], [198, 275, 200, 314, 275, 270]])

In [25]:
map_dict={'1':'Philip','2':'Omega111','3':'Ramya','4':'Romesh','5':'John'}
print(shipment_d.update(map_dict))

None